body {
  font-family: 'Saira Condensed', sans-serif;
}
hr {
  border-style: dashed;
}
p, li, .footer-menu{
  font-family: 'Roboto', sans-serif;
}
#user-name {
  color: white;
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#social hr {
  background-color: white;
}
.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.nav-item{
  text-align: right;
  padding-left: 18px;
  padding-right: 18px;
}
.menu-item{
  padding-left: 0;
}
.sign-in {
  padding: 5px;
}
.sign-in-btn {
  width: 100px;
}
.brand-color {
  background-color: #1394B0;
}
.placeholder-body {
  background-color: #314863;
}
.placeholder-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.main {
  position: relative;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
}
.coming_soon {
  text-align: center;
}

.colored-section {

  background-color: #1394B0;
  color: white;
}
.white-section {
  background-color: #D5FFFF;
  color: black;
}
.title-section {
  background-color: #1394B0;
  background-image: url("img/bg-transparent.png");
}


#social {
  text-align: center;
  /* padding: 3%; */
  background-color: #40434B;
}
.social-icons {
  width: 16px;
  margin-right: 10px;
  color: rgba(255,255,255,.5);
}
.social-icons:hover, .copyright {
  color: rgba(255,255,255,.8);
}
.container-fluid {
  padding: 2% 15% 2%;
  text-align: center;
}
.row {
  padding: 3% 2%;
}
#title .row {
  margin: 5% 0;
}
#tracker .header-row {
  margin-top: 10%;
  padding: 1% 1%;
}
#books .header-row {
  padding: 1% 1%;

}
#books {
background-image: url("img/bg-transparent.png");
}
.header-row h2{
  font-size: 2.5rem;
  text-align: center;
  padding-top: 5%;
}
.footer {
  padding: 0 7%;
}
.footer-logo {
  text-align: left;

}
.footer-logo a {
  color: white;
}
.footer-logo a:hover {
  text-decoration: none;
}
.footer-logo img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  margin-left: 50%;
  float: left;
}
.nav {
  padding-bottom: 18px;
}

.cta {
  text-align: right;
}
.footer-title {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.footer-cta {
  margin: 16px 5px;
}
.legal-container, .thankyou-container {
  padding: 0 15%;
}
.legal-container p, li{
  text-align: left;
}
.legal-container ul{
  padding-left: 100px;
}
.thankyou {
  text-align: center;
  margin-bottom: 30%;
}
#terms, #privacy, #support{
  background-color: lightgray;
}
.legal {
  background-color: white;
  margin: 0;
  padding: 2% 8% 8%;
}
.legal-header {
  background-color: rgba(255,255,255,.5);
  margin: 0;
}
.legal-header h1 {
  padding: 2%;
}

.legal {
  padding: 2%;
}
.policies, .footer-menu{
  padding: 5px;
  color: white;
  opacity: 0.5;

}
.policies:hover, a.footer-menu:hover, h5.footer-menu {
  color: white;
  opacity: 0.8;
  text-decoration: none;
}
.footer-menu {
  text-align: left;
  padding-left: 0;
  font-weight: lighter;
}
.title-img {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}
.title-head {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  padding: 1%;
}
#tracker {
  padding: 0;
  position: relative;
}
.form-group {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}
form .btn {
  width: 30%;
}
#download h3 {
  font-size: 4rem;
}
#download .description {
  padding-top: 30%;
}
#download button {
  font-size: 2rem;
}
@media (max-width: 992px) {
  .goal-img {
    display: none;
  }
  .goal-img-sml {
    display: block;
  }
  .title-img {
    width: 70%;
    position: relative;
    left: 0;
    z-index: 0;
  }
  .cta {
    text-align: center;
  }
  form .btn {
    width: 20%;
  }
  #download .description {
    padding-top: 0;
  }
}

@media (max-width: 600px) {
  .footer-logo img {
    margin-left: 0;
  }
  .footer-menu {
    text-align: center;
  }
  .footer-title a{
    margin-left: auto;
    margin-right: auto;
  }
  form .btn {
    width: 40%;
  }
  #download h3 {
    font-size: 2rem;
  }
  #download button {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .goal-img-sml {
    display: none;
  }
}

@media (max-width: 500px) {
  .goal-img {
    display: none;
  }

  .title-head {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
  }
  .form-group {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
  }
  form .btn {
    width: 40%;
  }

}
.contact-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}
.features img {
  width: 100%;
  padding: 5%;
}
#download img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#download i {
  padding: 5px;
}

.description {
  padding: 5%;
}
.description h3, p {
  padding: 0 5%;
}
.white-section .feature-icons {
  color: #2EAACA;
  font-size: 4rem;
  padding: 10px;
}
.white-section .feature-icons:hover {
  color: #39c3ef;
}
.colored-section .feature-icons {
  color: rgba(255,255,255,.8);
  font-size: 4rem;
  padding: 10px;
}
.colored-section .feature-icons:hover {
  color: rgba(255,255,255,1);
}
